---
layout: default
title: Home
---

<body class="bg-accent-dark bg-fixed bg-cover bg-paranal flex flex-col min-h-screen">
    {% include nav.html color_home="text-tblue-light" %}

<main class="flex-grow">
        {% include banner.html %}

        <div class="flex justify-center justify-items-center flex-col md:flex-row p-5">
                <div class="md:w-1/5 flex justify-center pb-5 md:pb-0">
                        <img class="shadow-xl w-36 h-auto my-auto border-2 border-gray-800 rounded-xl justify-self-center" src="{{site.baseurl}}/assets/css/img/DRX02295_mod2_small.JPG" alt="Close-up of Julia Bodensteiner's face">
                </div>
                <div class="md:w-4/5 flex flex-col max-w-3xl text-center text-gray-800 text-2xl bg-opacity-70 bg-blue-200 p-6 rounded-xl">
                        <h2 class="pb-4">
                                Welcome to my page!
                        </h2>
                        <p class="text-justify text-xl leading-tight">
                        I am Julia Bodensteiner, a professional astrophysical researcher.
                        I am currently working as an ESO Fellow in Garching by Munich, Germany.
                        My work mainly focuses on the observational characterization of massive stars, in particular of stars in binary systems, and binary interaction products.
                        </p>
                </div>
        </div>
</main>

{% include footer.html %}

</body>
