---
layout: default
title: Outreach
---

<body class="bg-accent-dark bg-fixed bg-cover bg-paranal flex flex-col min-h-screen">
	{% include nav.html color_outreach="text-tblue-light" %}

<main class="flex-grow">
	{% include banner.html %}

	<div class="flex flex-col justify-items-center mx-auto max-w-prose text-xl py-5 text-gray-800 bg-opacity-70 bg-blue-200 p-5 rounded-xl mb-5">
		<div class="flex flex-col">
			<h2 class="pb-4 text-2xl text-left font-semibold uppercase">
				Springer Thesis
			</h2>
			<p class="text-justify pb-2 leading-tight"> In Summer 2022, my PhD thesis was selected to be published as part of the
				<a href="https://www.youtube.com/watch?v=6xfv-iYYufY&t=1s" class="text-tblue-dark hover:bg-pink-100 rounded-md">'Springer theses'</a>, a book thesis to recognize outstanding PhD research.
				This monograph, entitled "Observational imprints of binary evolution on B- and Be-star populations" summarizes the main findings of my PhD, in which I used observations,
				mainly optical spectroscopy, to detect and characterize products of binary interactions.
			</p>
		</div>
	</div>

	<div class="flex flex-col bg-white bg-opacity-80 text-gray-800 px-20 py-6 text-2xl mb-5">
		<h2 class="pb-4 text-left font-semibold uppercase">
			Press coverage
		</h2>
		<div class="flex flex-col md:flex-row text-xl justify-evenly gap-x-16">
			<div class="w-2/6">
				<p class="text-justify italic font-semibold leading-tight"> 'Black hole police' discover a dormant black hole outside our galaxy </p>
				<p class="text-justify text-lg leading-tight pt-2"> Click <a href="https://www.eso.org/public/news/eso2210/" target="_blank" class="text-tblue-dark hover:bg-pink-100 rounded-md">here</a> to read our ESO press release about the recently detected quiescent black-hole binary VFTS 243. </p>
			</div>
			<div class="w-2/6">
				<p class="text-justify italic font-semibold leading-tight"> 'Closest black hole' system found to contain no black hole</p>
				<p class="text-justify text-lg leading-tight pt-2"> Click <a href="https://www.eso.org/public/news/eso2204/" target="_blank" class="text-tblue-dark hover:bg-pink-100 rounded-md">here</a> to read our ESO press release on new GRAVITY and MUSE data of HR 6819, and
					<a href="https://www.eso.org/public/videos/eso2204a/" target="_blank" class="text-tblue-dark hover:bg-pink-100 rounded-md">here</a> to watch the corresponding ESOcast.
				</p>
			</div>
			<div class="w-2/6">
				<p class="text-justify italic font-semibold leading-tight"> Closest black hole turns out to not be a black hole after all </p>
				<p class="text-justify text-lg leading-tight pt-2"> Click
					<a href="https://fys.kuleuven.be/ster/news/2020/closest-black-hole-turns-out-to-not-be-a-black-hole-after-all" target="_blank" class="text-tblue-dark hover:bg-pink-100 rounded-md">here</a> to read our KU Leuven press release
					on our new interpretation of the spectroscopic data available for HR 6819. </p>
			</div>

		</div>
	</div>

	<div class="flex flex-col justify-items-center mx-auto max-w-prose text-xl py-5 text-gray-800 bg-opacity-70 bg-blue-200 p-5 rounded-xl mb-5">
        <div class="flex flex-col">
            <h2 class="pb-4 text-2xl text-left font-semibold uppercase">
                Outreach activities
            </h2>
            <p class="text-justify pb-2 leading-tight"> During my PhD, I have realized more and more that I have a passion for outreach. With this, I want to encourage people, especially kids, to follow their curiosity and to learn more about the Universe we live in.</p>
			<p class="text-justify pb-2 leading-tight"> As part of the Flemisch initiative "Science Figured Out", I presented my science to a wieder public in a short, 2-minutes
				<a href="http://www.sciencefiguredout.be/gamma-cassiopeia-stellar-ballerina" target="_blank" class="text-tblue-dark hover:bg-pink-100 rounded-md">video</a>.
				In this video, I explain what the stars I study have in common with ballerinas, and why I want to study their rapid spins around their own axis.</p>
        </div>
        <div class="flex flex-col md:flex-row">
            <div class="flex flex-col md:w-1/2">
                <p class="text-justify pb-2 leading-tight"> In spring 2019, I gave a talk in a bar in the context of the world-wide science festival <a href="https://pintofscience.com/" class="text-tblue-dark hover:bg-pink-100 rounded-md">Pint of Science</a>.
					Since the start of the Covid-19 pandemics, we had to come up with new ideas to reach the public.
					One of these is Couch of Science, an online version bringing Pint of Science to everyone's homes.
					Together with two colleagues, I joined an <a href="https://www.youtube.com/watch?v=6xfv-iYYufY&t=1s" class="text-tblue-dark hover:bg-pink-100 rounded-md">online discussion</a> about one of our recent publications. </p>
            </div>
            <div class="md:w-1/2 flex justify-center px-2 px-5 pb-5 md:pb-0">
    			<img class="shadow-xl w-max h-auto my-auto border-2 border-gray-800 rounded-md justify-self-center" src="{{site.baseurl}}/assets/css/img/CouchOfScience.png" alt="Screenshot of our Couch Of Science Online Session about Black Holes">
    		</div>
        </div>
		<p class="text-justify pb-2 leading-tight"> Another outreach platform I am actively participating is the
			<a href="https://www.skypeascientist.com/" class="text-tblue-dark hover:bg-pink-100 rounded-md">Skype a Scientist</a>
			initiative, which virtually connects scientists with teachers and classrooms all over the world. In the past two years, I talked to more than ten different classrooms in four different continents. </p>
	</div>

</main>

{% include footer.html %}

</body>
