---
layout: default
---

<body class="bg-accent-dark bg-fixed bg-cover bg-paranal flex flex-col min-h-screen">
<nav class="h-18 bg-gray-800 w-full p-2 text-white bg-opacity-90 flex justify-evenly text-bold font-bold font-display fixed z-50">
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./index.html">
			Home
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./research.html" class="text-tblue-light">
			Research
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./aboutme.html">
			About Me
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./outreach.html">
			Outreach
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./more.html">
			More
		</a>
	</div>
</nav>

<main class="flex-grow">
    {% include banner.html %}


    <div class="flex flex-col bg-white bg-opacity-80 text-gray-800 px-16 py-6 text-2xl mb-5">
        <h2 class="pb-4 text-left font-semibold uppercase">
            Research Interests
        </h2>
        <div class="flex flex-col md:flex-row text-xl justify-evenly gap-x-16">
            <div>
                <p class="text-justify font-semibold text-tblue-dark"> Massive stars </p>
                <p class="text-justify text-xl"> are cosmic engines driving the evolution of their entire host galaxies. </p>
            </div>
            <div>
                <p class="text-justify font-semibold text-tblue-dark"> Stellar evolution </p>
                <p class="text-justify text-xl"> predictions serve as main ingredient for numerous other astrophysical disciplines. </p>
            </div>
            <div>
                <p class="text-justify font-semibold text-tblue-dark"> Stellar multiplicity </p>
                <p class="text-justify text-xl"> strongly impacts the evolution of all components of a multiple system. </p>
            </div>
            <div>
                <p class="text-justify font-semibold text-tblue-dark"> Binary interaction products </p>
                <p class="text-justify text-xl"> are direct probes of the outcome and the physics of binary interactions. </p>
            </div>
        </div>
    </div>


	<div class="flex flex-col justify-items-center mx-auto max-w-prose text-xl py-5 text-gray-800 bg-opacity-70 bg-blue-200 p-5 rounded-xl mb-5">
        <div class="flex flex-col">
            <h2 class="pb-4 text-2xl text-left font-semibold uppercase">
                Investigating the possible binary origin of Be stars
            </h2>
            <p class="text-justify pb-2"> About 20% of the massive galactic B stars are classical Be stars, observationally classified as such because their B-star spectrum is dominated by strong emission lines. While it has been shown that the formation of a circumstellar decretion disk, in which the emission originates, is linked to fast rotation of the central star, the origin of the rapid rotation remains unclear.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-y-4 gap-x-4">
            <div class="flex flex-col md:w-9/12">
                <p class="text-justify"> Different channels for the origin of the Be phenomenon have been proposed. One of them based on binarity, proposing that Be stars are the mass gainers in post-mass-transfer binary systems. Apart from gaining mass, the star also gained angular momentum, spinning it up to almost critical rotation rates. If the binary channel is the dominating one in the formation of massive Be stars, two clearly testable predictions emerge:
				<ul class="list-decimal list-outside pl-8">
		        	<li> there should be a lack of Be stars in close binary systems with main-sequence (MS) companions </li>
		            <li> Be stars in binaries should have exotic companions such as envelope-stripped Helium stars, neutron stars and black holes </li>
		        </ul>
                <p class="text-justify pb-2">  In a literature study of a sample of ~300 massive Be stars in our the Milky Way, we find that there is a clear lack of reported Be+MS binaries. While the sample is inhomogeneous, this gives a first hint that the binary channel might be dominating in the formation of massive Be stars. </p>
            </div>
            <div class="md:w-3/12 flex justify-center md:justify-end pb-5 md:pb-0">
    			<img class="shadow-xl w-auto h-auto my-auto border-2 border-gray-800 rounded-md justify-self-center" src="{{site.baseurl}}/assets/css/img/schematics_Be.png" alt="Schematic overview of the binary channel for Be star formation">
    		</div>
        </div>
	</div>

    <div class="flex flex-col justify-items-center mx-auto max-w-prose text-xl py-5 text-gray-800 bg-opacity-70 bg-blue-200 p-5 rounded-xl mb-5">
        <h2 class="flex pb-4 text-2xl text-left font-semibold uppercase">
            Hunting for post-interaction systems in the SMC cluster NGC 330
        </h2>
        <p class="flex text-justify pb-2"> When the integral field spectrograph MUSE mounted at UT4 of the VLT, Chile was equipped with a state-of-the-art adaptive optics module in summer 2017, it was possible for the first time to resolve the dense core of open stellar clusters in our neighboring galaxies, the Magellanic Clouds, and obtain spectra for its entire massive star population.</p>
        <p class="text-justify pb-2"> Using MUSE spectroscopy for NGC 330, a young, massive cluster in the Small Magellanic Clouds, we are able to provide a spectroscopic consensus of the massive star content of NGC 330. </p>
        <div class="flex flex-col md:flex-row gap-y-4 gap-x-4">
            <div class="flex md:w-4/12 justify-center md:justify-end pb-5 md:pb-0">
                <img class="shadow-xl w-auto h-auto my-auto border-2 border-gray-800 rounded-md justify-self-center" src="{{site.baseurl}}/assets/css/img/NGC330_rgb.png" alt="RGB imagine of the cluster NGC 330 observed with MUSE">
            </div>
            <div class="flex flex-col md:w-8/12">
                <p class="text-justify pb-2"> We confirm that there is a surprisingly large number of classical Be stars, that is rapidly rotating stars that display characteristics Balmer emission lines arising in a circumstellar decretion disk. Based on their position in the color-magnitude diagram, they are prime candidates for binary interaction products. Using the multi-epoch nature of the MUSE observations, we identify binary systems in the cluster. We find that the current binary fraction in NGC 330 is significantly lower than in young stellar cluster. </p>
            </div>
        </div>
        <p class="text-justify pb-2"> The RGB image shown here is constructed from the MUSE observations of NGC 330.  </p>
	</div>

	<div class="overflow-x-auto bg-white bg-opacity-80 text-gray-800 text-xl px-5 py-6 flex flex-col mb-6 justify-items-center">
		<span class="pb-8 px-10 text-2xl text-left font-semibold uppercase">
			My main publications:
		</span>
	  <!-- <div class="flex bg-red-100 justify-center relative"> -->
	  <div class="flex justify-center">
		  <!-- <div class="bg-gradient-to-r from-white w-1/12 bg-green-100 z-50"> -->
			  <!-- test teset -->
			  <!-- &nbsp -->
		  <!-- </div> -->
	      <div class="gap-x-6 flex flex-row overflow-x-auto md:w-8/12">
			  {% include pub_card.html url="https://ui.adsabs.harvard.edu/abs/2022Msngr.186....3B/abstract"
			   title="Detecting Stripped Stars While Searching for Quiescent Black Holes"
			   ref="Bodensteiner & Heida et al. 2022, The Messenger, 186, 3"%}

			  {% include pub_card.html url="https://ui.adsabs.harvard.edu/abs/2018A%26A...618A.110B/abstract"
 			   title="The young massive SMC cluster NGC 330 seen by MUSE. II. Multiplicity properties of the massive-star population"
 			   ref="Bodensteiner et al. 2021, A&A, 652, 70"%}

			  {% include pub_card.html url="https://ui.adsabs.harvard.edu/abs/2020A%26A...641A..43B/abstract"
  			   title="Is HR 6819 a triple system containing a black hole? An alternative explanation"
  			   ref="Bodensteiner et al. 2020, A&A, 641, 43"%}

			  {% include pub_card.html url="https://ui.adsabs.harvard.edu/abs/2020A%26A...641A..42B/abstract"
   			   title=" Investigating the lack of main-sequence companions to massive Be stars"
   			   ref="Bodensteiner et al. 2020, A&A, 641, 42"%}

			  {% include pub_card.html url="https://ui.adsabs.harvard.edu/abs/2020A%26A...634A..51B/abstract"
 			   title="The young massive SMC cluster NGC 330 seen by MUSE. I. Observations and stellar content"
 			   ref="Bodensteiner et al. 2020, A&A, 634, 51"%}

			  {% include pub_card.html url="https://ui.adsabs.harvard.edu/abs/2018A%26A...618A.110B/abstract"
  			   title="Infrared nebulae around bright massive stars as indicators for binary interactions"
  			   ref="Bodensteiner et al. 2018, A&A 618, 110"%}
	      </div>
	  </div>
  </div>

</main>

{% include footer.html %}

</body>
