<nav class="h-18 bg-gray-800 w-full p-2 text-white bg-opacity-90 flex justify-evenly text-bold font-bold font-display fixed z-50">
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./index.html" class={{ include.color_home }}>
			Home
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./research.html" class={{ include.color_research }}>
			Research
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./aboutme.html" class={{ include.color_aboutme }}>
			About Me
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./outreach.html" class={{ include.color_outreach }}>
			Outreach
		</a>
	</div>
	<div class="hover:bg-tblue-dark p-2 rounded-md">
		<a href="./more.html" class={{ include.color_more }}>
			More
		</a>
	</div>
</nav>
